@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Future';
    src: url('./assets/Fonts/space-future.space-future-bold.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
